* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
  color: #333;
}

header {
  background: #1e3a8a;
  color: white;
  padding: 1.5rem;
  text-align: center;
}

main {
  padding: 2rem;
}

ul.sitemap {
  list-style-type: none;
  padding-left: 0;
}

ul.sitemap li {
  margin-bottom: 0.5rem;
}

ul li a:link {
  color: #1e40af;       /* สีลิงก์ที่ยังไม่คลิก */
  text-decoration: none;
  font-weight: bold;
}

ul li a:visited {
  color: #6b7280;       /* สีลิงก์ที่เคยคลิก */
}

ul li a:hover {
  color: #ef4444;       /* สีลิงก์เมื่อเมาส์ชี้ */
  text-decoration: underline;
}

ul li a:active {
  color: #10b981;       /* สีลิงก์ขณะคลิก */
}


.sitemap li ul {
  display: none;
  padding-left: 1em;
}

.sitemap li.open > ul {
  display: block;
}

.toggle {
  cursor: pointer;
  font-weight: bold;
  color: #1e40af;
}

/* .toggle:hover {
  text-decoration: underline;
} */

footer {
  background: #1e3a8a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
