* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anuphan", sans-serif;
    background: #f4f6f9;
    color: #333;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

header {
    background: #1e3a8a;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

main {
    padding: 2rem;
}

ul {
    padding: 5px;
}

li {
    list-style: none;
}

ul.sitemap {
    list-style-type: none;
    padding-left: 0;
}

ul.sitemap li {
    margin-bottom: 0.5rem;
}

ul li a:link {
    color: #1e40af;
    /* สีลิงก์ที่ยังไม่คลิก */
    text-decoration: none;
    font-weight: bold;
}

ul li a:visited {
    color: #6b7280;
    /* สีลิงก์ที่เคยคลิก */
}

ul li a:hover {
    color: #ef4444;
    /* สีลิงก์เมื่อเมาส์ชี้ */
    text-decoration: underline;
}

ul li a:active {
    color: #10b981;
    /* สีลิงก์ขณะคลิก */
}


.sitemap li ul {
    display: none;
    padding-left: 1em;
}

.sitemap li.open>ul {
    display: block;
}

.toggle {
    cursor: pointer;
    font-weight: bold;
    color: #1e40af;
}

/* .toggle:hover {
  text-decoration: underline;
} */

footer {
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

    
    .page {
        z-index: 99;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: #1e3a8a;
    }
    
    .loader {
      border: 8px solid #fff;
      border-top: 8px solid #ff0000;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 1s linear infinite;
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
